dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #F9F0E3;
  color: #640A09;
  padding: 1rem;
  border-radius: 15px;
  width: 35%;
  height: 40%;
}

dialog::backdrop {
    background-color: rgba(200, 200, 200, 0.5);
}

.button {
    font-size: 1vw;
    background-color: #CDA532;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
}

.button:hover {
    cursor: pointer;
}

.dialogContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.dialogClose {
    background-color: #CDA532;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 1.5vw;
}

.dialogClose:hover {
    cursor: pointer;
    background-color: #af8e28;
}
.dialogTitle {
    font-size: 2vw;
}

.dialogText {
    font-size: 1.5vw;
}

.iconContainer {
    position: relative;
    height: 30%;
}

.iconCircle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 6rem;
    height: 6rem;
    background-color: #E1C2CF;
    border-radius: 50%;
}
.dialogIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4rem;
    height: 4rem;
}

.dialogCircle {
    position: absolute;
    background-color: #E1C2CF;
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.dialogImg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5vw;
    height: 5vw;
}