.answerContainer {
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
}

.multipleChoice {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  margin-top: 0;
}

.textOption {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
  height: 5rem;
  border: 2px solid #FFF9F2;
  border-radius: 1rem;
}

.optionIcon {
  width: 1.2vw;
  height: 1.2vw;
  border: 2px solid #640A09;
  border-radius: 50%;
  margin: 0 1rem;
}

.optionIcon.filled {
  background-color: #640A09;
}

.textOptionStyle {
  font-size: 1.8vw;
}

.imageBorder:hover, .textOption:hover {
    border: 2px solid #BE9526;
    background-color: #e0ce9f7f
}