.overview {
  background: var(--main-beige);
  margin-top: 1rem;
  border: none;
  margin-bottom: 0;
}

.heading {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: "OrganGrinder";
}

.stepList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  margin: 0 auto;
  width: fit-content;
  flex-wrap: wrap;
}
.step {
  display: flex;
  gap: 1rem;
  align-items: center;
  text-align: left;
}

.badge {
  display: inline-block;
  background: #7a1e1e;
  color: white;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  font-weight: bold;
}
