.start {
  background: #ddeee2;
  text-align: center;
  padding: 5rem 2rem;
  margin: 0;
}

.title {
  font-size: clamp(1rem, 5.5vw, 3rem);

  margin-bottom: 2rem;
  font-family: "OrganGrinder";
}

.transform {
  background-color: #e9c7d3;
  padding: 5rem;
  color: #7a1e1e;
  border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

.transform p {
  max-width: 600px;
  margin: 0 auto 0.5rem;
}
