.answerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.uploadContainer {
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dragging {
    border-color: var(--main-maroon);
    background-color: var(--accent-beige);
}

.hiddenInput {
    display: none;
}

.uploadButton {
    height: 100%;
    width: 100%;
    display: flex;
    border: 2px dashed gray;
    border-radius: 2rem;
    background-color: var(--main-beige);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s ease-in, border-color 0.3s ease;
}

.uploadButton:hover {
    cursor: pointer;
    background-color: var(--accent-beige);
    border: 2px dashed var(--main-maroon);
}

.uploadIcon {
    display: inline-block;
    width: 7em;
    height: 7em;
    transition: transform 0.4s ease-in;
}

.dragText {
    font-size: 1em;
    margin: 1em;
    color: black;
}

.uploadText {
    font-size: 1em;
    border-radius: 20px;
    padding: 0.5em 0.7em;
    transition: transform 0.4s ease-in-out;
}

.uploadText:hover {
    cursor: pointer;
    transform: scale(1.03);
}

.deleteText {
    font-size: 1em;
    border-radius: 20px;
    padding: 0.5em 1rem;
}

.deleteText:hover {
    background-color: var(--main-teal);
    cursor: pointer;
    transition: 0.2s ease-in;
}

.footer {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5em;
    margin-top: 1em;
    color: black;
}