.caption {
    font-size: 0.5rem;
    font-weight: 400;
    margin-top: 5px;
}

.grid {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(3, minmax(1rem, 1fr));
    gap: 0.5rem;
    justify-items: center;
}

.imageBorder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 0.5em;
    padding: 0.5em;
    gap: 5px;
    background-color: var(--main-beige);
}

.imageBorder:hover {
    background-color: #f9e9d2;
    cursor: pointer;

}

.imageBorder:hover .imageSelect {
    border: 5px solid var(--main-pink);
}

.imageOption {
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 80%;
}

.image {
    height: 100%;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    border-radius: 8px;
}

.imageFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 15%;
}

.imageSelect, .imageFilled {
    height: 1.5em;
    width: 1.5em;
    border: 2px solid var(--main-pink);
    border-radius: 5px;
}

.imageFilled {
    background-color: var(--main-pink);
}

.check {
    position: relative;
}

.checkMark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}