.h1 {
  margin-bottom: 0;
}

.cardContainer {
  margin-top: 3rem;
  display: flex;
  gap: 5rem;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 768px) {
  .cardContainer {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .cardContainer {
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
