.form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.questionsContainer {
  display: flex;
  flex-direction: column;
  width: 90vw;
  height: auto;
  margin: 1rem;
}

.loading {
  font-size: 3rem;
  margin: 1em;
}

/* SECTION LABEL */
.sectionContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  font-size: small;
}

.sectionTitle {
  background-color: var(--main-mustard);
  color: white;
  width: auto;
  height: 100%;
  font-size: 1em;
  border-radius: 1rem;
  padding: 0.3rem 1rem;
}

/* QUIZ LABEL */
.labelContainer{
  width: 100%;
}

.label {
  font-size: 1.7em;
  font-weight: 700;
  width: 100%;
  line-height: 1.2;
  color: black;
}

/* DESCRIPTION */
.descriptionContainer {
  width: 100%;
  margin: 0.3rem 0;
}

.description {
  font-size: 1.2em;
  color: black;
}

/* PROGRESS BAR */
.barContainer {
  margin: 0 0 1rem 0;
}

/* QUESTION CARD */
.questionContainer, .imageContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2vw 0;
}

.questionContainer {
  height: 25rem;
}

.imageContainer {
  height: 70vh;
}

.questionCard, .sectionCard, .imageCard {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
  border-radius: 2rem;
  box-shadow: 0 4px 10px rgb(171, 171, 171);
}

.questionCard {
    background-color: #FFF9F2;
}

.sectionCard {
  background-color: var(--main-teal); 
}

.imageCard {
  background-color: #FFF9F2;
  width: 70vh;
  max-width: 100%;
  height: 70vh;
}

/* HEADER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 0.5rem 0;
}

.logoutContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.logoutText:hover {
  cursor: pointer;
}

.logoutIcon {
  height: 2em;
  width: 2em;
}

/*   font-size: 1.2em; */