.modalOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: var(--main-beige);
  padding: 2rem;
  border-radius: 1rem;
  width: 90vw;
  max-width: 400px;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: fixed; /* Key: position fixed */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center it */
  z-index: 1001;
}

/* Close button */
.closeButton {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: var(--main-maroon);
  width: 1rem;
  height: 1rem;
  transition: transform 0.3s ease-in;
}

.closeButton:hover {
  cursor: pointer;
  transform: scale(1.07);
}

.title {
  font-size: 2rem;
  margin: 1rem 0 rem;
}
/* Toggle button header */
.toggleHeader {
  background-color: #bcc5bf;
  border-radius: 10px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
  overflow: hidden;
}

.toggleHeader button {
  flex: 1;
  border: none;
  background: transparent;
  color: black;
  padding: 0.3rem 0;
  margin: 0.3rem;
  font-size: 0.9rem;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.toggleHeader button:focus,
.toggleHeader button.active {
  background-color: var(--main-teal);
}

/* Form and inputs */
.form input {
  width: 100%;
  background: #e2dace;
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 0.5rem 0.4rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
  color: black;
}

.form input:focus {
  outline: none;
  box-shadow: none;
}

/* Error and submit */
.errorText {
  color: red;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.submitButton {
  background-color: var(--main-mustard);
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0.6rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
}

.footer {
  margin-top: 0.3rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.caption {
  opacity: 0.7;
}

.alternative:hover, .proceed:hover {
  text-decoration: underline;
  cursor: pointer;
}

.proceed {
  display: flex;
  opacity: 0.7;
  align-items: center;
  gap: 0.3rem;
}

.proceedButton {
  width: 1rem;
  height: 1rem;
}

