/* OLD FILE */

.answerContainer {
    width: 50%;
    margin: 5px;
}

.textarea {
    background-color: #E1C1CE;
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}

.caption {
    font-size: 10px;
    font-weight: 400;
    margin-top: 5px;
}