/* OLD FILE */

.answerContainer {
  width: 100%;
  margin: 5px;
}

.multipleChoice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.option {
  background-color: #e1c1ce;
  margin: 10px;
  width: 50%;
  padding: 5px;
  border: 3px solid #e1c1ce;
  border-radius: 50px;
}

.multipleChoice {
  margin-top: 0;
}

.selected {
  border: 3px solid #BE9526;
}

.option:hover {
  border: 3px solid #BE9526;
}

.caption {
  font-size: 10px;
  font-weight: 400;
  margin-top: 5px;
}