/* OLD FILE */

.grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(120px, 1fr));
    gap: 16px;
    justify-items: center;
    margin-top: 5px;
}

.caption {
    font-size: 10px;
    font-weight: 400;
}

.option {
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
}

.image {
    width: 100px;
    height: 140px;
    object-fit: cover;
    border-radius: 4px;
}

.imageBorder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 160px;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
}

.imageBorder:hover {
    border: 2px solid #BE9526;
}

.selected {
    border: 3px solid #BE9526;
}