.button {
  border-radius: 5rem;
  padding: 0.5em 5em;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
}

.button:hover {
  cursor: pointer;
}

.bgMuave {
  background-color: #e1c2cf;
}

.bgMaroon {
  background-color: #640a09;
}

.bgYellow {
  background-color: #cda532;
}

.text-dark {
  color: #640a09;
}

.text-light {
  color: #fff9f2;
}
