.button {
  border-radius: 5rem;
  padding: 0.5em 5em;
  border: none;
  font-size: 1rem;
  margin-top: 1rem;
  font-family: "Didact Gothic", sans-serif;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.button:hover {
  transform: scale(1.05);
}

.bgMuave {
  background-color: var(--main-pink);
}

.bgMaroon {
  background-color: var(--main-maroon);
}

.bgYellow {
  background-color: var(--main-mustard);
}

.text-dark {
  color: var(--main-maroon);
}

.text-light {
  color: #fff9f2;
}
