.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textContainer {
    color: black;
    width: 70%;
    
}

.text {
    white-space: pre-line;
}

.colorsContainer {
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    min-width: 350px;
    gap: 1rem;
    background-color: var(--main-pink);
    border-radius: 50px;

    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    place-items: center;
}

.colorBlob {
    border-radius: 50%;
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.chevron {
    width: 3rem;
    height: 3rem;
    margin: 2rem;
}