.barContainer {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 10px;
    margin: 10px 0px;
    background-color: #640A09;
    border-radius: 10px;
}

.fillBar {
    height: 100%;
    background-color: #CDA532;
    transition: 1s ease-in-out;
    border-radius: 10px;
}