dialog {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(249, 240, 227, 0.7);
  backdrop-filter: blur(4px);
  color: var(--main-maroon);
  border-radius: 15px;
  width: 50%;
  height: 40%;
}

dialog::backdrop {
    background-color: rgba(200, 200, 200, 0.5);
}

.button {
    font-size: medium;
    background-color: var(--main-mustard);
    color: white;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    transition: transform 0.24s ease-in-out;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.05);
    
}

.dialogContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
    overflow-y: scroll;
}

.upperContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialogClose {
    background-color: var(--main-mustard);
    color: white;
    padding: 0.5rem 1rem;
    width: fit-content;
    border-radius: 20px;
    font-size: medium;
}

.dialogClose:hover {
    cursor: pointer;
}

.dialogTitle {
    font-family: "OrganGrinder";
    font-size: 3em;
}

.dialogText {
    font-size: 1.2em;
}

.dialogIcon {
    width: 5rem;
    height: 5rem;
    background-color: var(--main-pink);
    padding: 1rem;
    border-radius: 50%;
    color: white;
}