.container {
    width: 70vw;
    margin: 0 auto;
    text-align: right;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.submit {
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    font-size: large;
    transition: transform 0.24s ease-in-out;
    background-color: var(--main-teal);
    color: black;
}

.submit:hover {
    cursor: pointer;
    background-color: var(--light-teal);
}

.submit:disabled {
    cursor: not-allowed;
    background-color: rgb(196, 196, 196);
    opacity: 0.3;
}